<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>影院管理</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <style>
        #main {
            margin-top: 20px;
            margin-bottom: 20px;
            padding: 0 10px;
        }
    </style>
</head>
<body>
<div class="ui grid" id="main">
    <div class="sixteen wide column">
        <form class="ui form" action="/cinemas/add">
            <div class="inline fields">
                <label>添加影院</label>

                <div class="three wide field">
                    <input type="text" name="name" placeholder="名称">
                </div>
                <div class="four wide field">
                    <input type="text" name="address" placeholder="地址">
                </div>
                <div class="two wide field">
                    <input type="submit" class="ui green button" value="添加">
                </div>
            </div>
        </form>
        <table class="ui celled striped table">
            <thead>
            <tr>
                <th>影院</th>
                <th>地址</th>
                <th>淘宝ID</th>
                <th class="three wide">糯米ID</th>
                <th>美团ID</th>
                <th>微票ID</th>
                <th>点评ID</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <% cinemas.forEach(function (cinema) { %>
            <tr>
                <td class="collapsing">
                    <%= cinema.name %>
                </td>
                <td class="collapsing">
                    <%= cinema.address %>
                </td>
                <td class="collapsing">
                    <div class="ui transparent input">
                        <input class="taobao" type="text" value="<%= cinema.taobaoId %>">
                    </div>
                </td>
                <td>
                    <div class="ui transparent fluid input">
                        <input class="nuomi" type="text" value="<%= cinema.nuomiId %>">
                    </div>
                </td>
                <td>
                    <div class="ui transparent fluid input">
                        <input class="meituan" type="text" value="<%= cinema.meituanId %>">
                    </div>
                </td>
                <td>
                    <div class="ui transparent fluid input">
                        <input class="weipiao" type="text" value="<%= cinema.weipiaoId %>">
                    </div>
                </td>
                <td>
                    <div class="ui transparent fluid input">
                        <input class="dianping" type="text" value="<%= cinema.dianpingId %>">
                    </div>
                </td>
                <td class="collapsing">
                    <button class="ui blue tiny button" data-cid="<%= cinema._id %>">保存</button>
                    <button class="ui red tiny button" data-cid="<%= cinema._id %>">删除</button>
                </td>
            </tr>
            <% }) %>
            </tbody>
        </table>
    </div>
</div>
<script>
    $('.blue.button').on('click', function () {
        var $button = $(this);
        $button.addClass('loading');
        var cinemaId = $button.data('cid');
        var $taobao = $button.parent().parent().find('.taobao');
        var $nuomi = $button.parent().parent().find('.nuomi');
        var $meituan = $button.parent().parent().find('.meituan');
        var $weipiao = $button.parent().parent().find('.weipiao');
        var $dianping = $button.parent().parent().find('.dianping');
        var taobaoId = $taobao.val();
        var nuomiId = $nuomi.val();
        var meituanId = $meituan.val();
        var weipiaoId = $weipiao.val();
        var dianpingId = $dianping.val();
        $.ajax('/cinemas/edit', {
            data: {
                cinemaId: cinemaId,
                taobaoId: taobaoId,
                nuomiId: nuomiId,
                meituanId: meituanId,
                weipiaoId: weipiaoId,
                dianpingId: dianpingId
            },
            success: function (data) {
                $button.removeClass('loading');
                $taobao.val(data.taobaoId);
                $nuomi.val(data.nuomiId);
                $meituan.val(data.meituanId);
                $weipiao.val(data.weipiaoId);
                $dianping.val(data.dianpingId);
            },
            error: function () {
                $button.removeClass('loading');
            }
        });
    });
    $('.red.button').on('click', function () {
        var $tr = $(this).parent().parent();
        var cinemaId = $(this).data('cid');
        $.ajax('/cinemas/delete', {
            data: {
                cinemaId: cinemaId
            },
            success: function (data) {
                if (data.success === 1) {
                    $tr.remove();
                }
            }
        });
    });
</script>
</body>
</html>